* {
    box-sizing: border-box;
}

.column {
    float: left;
}

.left {
    width: 65%;
}

.right {
    width: 35%;
}
/*  add a breakpoint for scaling */
@media screen and (max-width: 900px) {
    .left, .right {
      width: 100%; 
    }
  }

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: 'Noto Sans', sans-serif;
}
p {
    color: black;
    font-family: 'Noto Sans', sans-serif;
}

#cal-jan, #cal-feb, #cal-mar, #cal-apr, #cal-may, #cal-jun, #cal-jul, #cal-aug, #cal-sep, #cal-oct, #cal-nov, #cal-dec {
    display: inline-block;
    top:-10;
    left:0;
    color: white;
}
#cal-jan {
    -webkit-animation: color-change 12s infinite;
    -moz-animation: color-change 12s infinite;
    -o-animation: color-change 12s infinite;
    -ms-animation: color-change 12s infinite;
    animation: color-change 12s infinite;
}
#cal-feb {
    -webkit-animation: color-change 12s 1s infinite;
    -moz-animation: color-change 12s 1s infinite;
    -o-animation: color-change 12s 1s infinite;
    -ms-animation: color-change 12s 1s infinite;
    animation: color-change 12s 1s infinite;
}
#cal-mar {
    -webkit-animation: color-change 12s 2s infinite;
    -moz-animation: color-change 12s 2s infinite;
    -o-animation: color-change 12s 2s infinite;
    -ms-animation: color-change 12s 2s infinite;
    animation: color-change 12s 2s infinite;
}
#cal-apr {
    -webkit-animation: color-change 12s 3s infinite;
    -moz-animation: color-change 12s 3s infinite;
    -o-animation: color-change 12s 3s infinite;
    -ms-animation: color-change 12s 3s infinite;
    animation: color-change 12s 3s infinite;
}
#cal-may {
    -webkit-animation: color-change 12s 4s infinite;
    -moz-animation: color-change 12s 4s infinite;
    -o-animation: color-change 12s 4s infinite;
    -ms-animation: color-change 12s 4s infinite;
    animation: color-change 12s 4s infinite;
}
#cal-jun {
    -webkit-animation: color-change 12s 5s infinite;
    -moz-animation: color-change 12s 5s infinite;
    -o-animation: color-change 12s 5s infinite;
    -ms-animation: color-change 12s 5s infinite;
    animation: color-change 12s 5s infinite;
}
#cal-jul {
    -webkit-animation: color-change 12s 6s infinite;
    -moz-animation: color-change 12s 6s infinite;
    -o-animation: color-change 12s 6s infinite;
    -ms-animation: color-change 12s 6s infinite;
    animation: color-change 12s 6s infinite;
}
#cal-aug {
    -webkit-animation: color-change 12s 7s infinite;
    -moz-animation: color-change 12s 7sinfinite;
    -o-animation: color-change 12s 7sinfinite;
    -ms-animation: color-change 12s 7sinfinite;
    animation: color-change 12s 7sinfinite;
}
#cal-sep {
    -webkit-animation: color-change 12s 8s infinite;
    -moz-animation: color-change 12s 8s infinite;
    -o-animation: color-change 12s 8s infinite;
    -ms-animation: color-change 12s 8s infinite;
    animation: color-change 12s 8s infinite;
}
#cal-oct {
    -webkit-animation: color-change 12s 9s infinite;
    -moz-animation: color-change 12s 9s infinite;
    -o-animation: color-change 12s 9s infinite;
    -ms-animation: color-change 12s 9s infinite;
    animation: color-change 12s 9s infinite;
}
#cal-nov {
    -webkit-animation: color-change 12s 10s infinite;
    -moz-animation: color-change 12s 10s infinite;
    -o-animation: color-change 12s 10s infinite;
    -ms-animation: color-change 12s 10s infinite;
    animation: color-change 12s 10s infinite;
}
#cal-dec {
    -webkit-animation: color-change 12s 11s infinite;
    -moz-animation: color-change 12s 11s infinite;
    -o-animation: color-change 12s 11s infinite;
    -ms-animation: color-change 12s 11s infinite;
    animation: color-change 12s 11s infinite;
}
#dash, #s, #a, #l, #t, #f, #r, #o, #n, #t2 {
    stroke: black;
    fill: black;
    stroke-width: 1px;
}

.lefttext {
    margin: 20% 10% 0% 10%;
}
.header {
    margin: 1% 10% 0% 10%;
    width: 80%;
    position: sticky;
    top: 0;
}
.outer {
    background-color: white;
    position: sticky;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 5% 5% 0% 5%;
    top: 0;
}
#saltywater {
    position: absolute;
    display: inline-block;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
}


.outer img {
    display: block;
    max-width: 100%;
    height: auto;
}

.outer svg {
    position: absolute;
    display: inline-block;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
}

/* markers for sea level rise */


#sealevelrise {
    stroke: black;
    fill: transparent;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width: 5.5px;
}

#ft1, #ft2, #ft3 {
    stroke-width: 5.5px;
    stroke-dasharray: 300px;
    stroke-dashoffset: -300px;
}

#num1, #num2, #num3, #f2a, #f2b, #t4a, #t4b, #f3a, #f3b, #t5a, #t5b, #f1a, #f1b, #t3a, #t3b, #intake {
    stroke-dasharray: 200px;
    stroke-dashoffset: -200px;
}

/* lines for sea level predictions */
#ft1 {

    Animation: write300 .4s ease-in-out 12s forwards;
}

#ft2 {
    Animation: write300 .4s ease-in-out 12.2s forwards;
}

#ft3 {
    Animation: write300 .4s ease-in-out 12.4s forwards;
}
/* annotations for sea level predictions */
/* 1 ft */
#num1 {
    Animation: write200 .2s ease-in-out 12.6s forwards;
}
#f3a, #f3b {
    Animation: write200 .3s ease-in-out 12.7s forwards;
}
#t5a, #t5b {
    Animation: write200 .3s ease-in-out 12.9s forwards;
}
/* 2 ft */
#num2 {
    Animation: write200 .2s ease-in-out 13.1s forwards;
}
#f2a, #f2b {
    Animation: write200 .3s ease-in-out 13.25s forwards;
}
#t4a, #t4b {
    Animation: write200 .3s ease-in-out 13.45s forwards;
}
/* 3ft */
#num3 {
    Animation: write200 .2s ease-in-out 13.65s forwards;
}
#f1a, #f1b {
    Animation: write200 .3s ease-in-out 13.8s forwards;
}
#t3a, #t3b {
    Animation: write200 .3s ease-in-out 14s forwards;
}
/* intakes line */
#intake {
    Animation: write200 .2s ease-in-out 14s forwards;
}

/* letter writing animation */
#d, #r1, #i1, #n1, #k1a, #k1b, #i2, #n2, #g, #w, #a1a, #a1b, #t1a, #t1b, #e1a, #e1b, #r2, #i3, #n3, #t2a, #t2b, #a2a, #a2b,#k2a, #k2b, #k2c, #e2a, #e2b, #s {
    stroke-dasharray: 200px;
    stroke-dashoffset: -200px;
}

/* define vars for letter timing */
:root {
	--anim-time: 0.23s;
    --anim-delay: 0.15s;
    --intake-start: 14s;
}

/* each letter is animated individually so time sequentially */
#d {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) + var(--anim-delay) * 1) forwards;
}

#r1 {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 2) forwards;
}
#i1 {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 3) forwards;
}
#n1 {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 4) forwards;
}
#k1a, #k1b {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 5) forwards;
}
#i2 {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 6) forwards;
}
#n2 {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 7) forwards;
}
#g {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 8) forwards;
}
#w {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 9) forwards;
}
#a1a, #a1b {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 10) forwards;
}
#t1a, #t1b {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 11) forwards;
}
#e1a, #e1b {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 12) forwards;
}
#r2 {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 13) forwards;
}
#i3 {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 14) forwards;
}
#n3 {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 15) forwards;
}
#t2a, #t2b {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 16) forwards;
}
#a2a, #a2b {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 17) forwards;
}
#k2a, #k2b, #k2c {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 18) forwards;
}
#e2a, #e2b {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 19) forwards;
}
#s {
    Animation: write200 var(--anim-time) ease-in-out calc(var(--intake-start) +var(--anim-delay) * 20) forwards;
}
@keyframes write500 {
    0% {stroke-dashoffset: -500px}
    100% {stroke-dashoffset: 0px;}
}
@keyframes write400 {
    0% {stroke-dashoffset: -400px}
    100% {stroke-dashoffset: 0px;}
}
@keyframes write300 {
    0% {stroke-dashoffset: -300px}
    100% {stroke-dashoffset: 0px;}
}

@keyframes write200 {
    0% {stroke-dashoffset: -200px}
    100% {stroke-dashoffset: 0px;}
}